{#
/**
 * @file
 * Default theme implementation for a acesso-informacao block.
 *
 * Available variables:
 * - content: Content to display, including:
 *   - output: The button HTML output.
 *
 * @see template_preprocess_acesso_informacao_block()
 *
 * @ingroup themeable
 */
#}
<div class="content">{{ content.output }}</div>
